* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-style: normal;
}

body {
    min-height: 100vh;
    background: #fafffd;
    background: linear-gradient(180deg,
            rgba(250, 255, 253, 1) 0%,
            rgba(225, 229, 252, 1) 100%);
}

.structure-center {
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 2rem;
}

.box {
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box-1 {
    grid-area: first-item;
    background: url(../imgs/bg-pattern-quotation.svg) no-repeat right 3.5rem top .5rem;
    background-size: 130px;
    background-color: hsl(263, 55%, 52%);
    color: white;
}

.box-2 {
    grid-area: second-item;
}

.box-3 {
    grid-area: third-item;
}

.box-4 {
    grid-area: fourth-item;
}

.box-5 {
    grid-area: fifth-item;
}

.grid-container {
    display: grid;
    justify-content: center;
    max-width: 1200px;
    min-height: 600px;
    margin: auto;

    grid-template-columns: repeat(4, minmax(0, 300px));
    grid-template-rows: repeat(2, minmax(80px, auto));
    gap: 1rem;
    grid-template-areas:
        "first-item first-item second-item third-item"
        "fourth-item fifth-item fifth-item third-item";

}

.testimonial-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
}

.nameTestimonial {
    font-size: 1.2rem;
    font-weight: 600;
}

.nameTestimonial span {
    font-size: 0.9rem;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid hsl(219, 29%, 14%);
}

.titleTestimonial {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.descriptionTestimonial {
    font-size: 1rem;
    line-height: 1.5;
}

.attribution {
    font-size: 0.9rem;
    font-weight: bold;
    color: hsl(219, 29%, 14%);
    margin-top: 2rem;
    text-align: center;
}

@media screen and (max-width: 991px) {
    .grid-container {
        grid-template-columns: repeat(2, minmax(0, 300px));
        grid-template-rows: repeat(3, minmax(80px, auto));
        gap: 1rem;
        grid-template-areas:
            "first-item first-item"
            "fifth-item third-item"
            "fourth-item second-item";
    }

    .box-1 {
        background-size: 70px;
        background-position: right 3rem top 1rem;
    }
}

@media screen and (max-width: 767px) {

    .testimonial-header,
    .titleTestimonial {
        margin-bottom: 1rem;
    }

    .structure-center,
    .box {
        padding: 1rem;
    }

    .box {
        max-width: 450px;
    }

    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 5fr;
        grid-template-areas:
            "first-item"
            "second-item"
            "fourth-item"
            "fifth-item"
            "third-item";
    }

    .box-1 {
        background-size: 50px;
        background-position: right 1.5rem top 1rem;
    }
}